/* General Body Styles */
body {
  font-family: "Arial", sans-serif;
}

/* Card Styles */
.card {
  border-radius: 15px;
}

.card-body {
  padding: 2rem;
}

/* Input Field Styles */
input.form-control {
  border-radius: 8px;
  padding: 0.8rem;
}

/* Button Styles */
button {
  border-radius: 30px;
}

/* Navbar Styles */
.navbar {
  background-color: orange !important; /* Orange background for the navbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.navbar .nav-link {
  color: white !important; /* White text color for navbar links */
}

.navbar .nav-link:hover {
  color: black !important; /* Darker color for links when hovered */
}
